@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('sora-variable.woff2') format('woff2-variations'), url('sora-variable.woff2') format('woff2');
}
